@media (max-width: 1999px){
  .cover-img{
  height: 200px;
  overflow-y: hidden;
  }
  .cover-img img{
    min-width: 100%;
  }
}

@media (min-width: 1200px){
  .cover-img{
    height: 280px;
    overflow-y: hidden;
  }
  .cover-img img{
    min-width: 100%;
  }
}

.box-content{
    background-color: transparent;
    /*background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);*/
    background-repeat: repeat;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-radius:5px;
    padding:0px;
}

.box-content:hover{
    background-color: #FF0000;
}
.box-content-inside{
    background-color: lightcyan;
    margin: 0 5px 5px 0px;
}
.box-content-inside-new{
    background-color: lightcyan;
    height: 175px;
    margin: 0 5px 5px 0px;
}
.box-content-inside-new img{
    height: 175px;
}
.box-content-inside img{
    width: 70%;
    height:250px;
    margin-bottom: 5px;
}
.dataTables_filter{
    float:right !important;
}
.page-thumb:hover{
    cursor: hand;
}

.treeview, .treeview ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../img/treeview/treeview-default.gif) -64px -25px no-repeat;
  height: 16px;
    width: 20px;
    margin-left: -20px;
    float: left;
    cursor: pointer;
    margin-top: 2px;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li {
	margin: 0;
	padding: 0px 0pt 3px 20px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(../img/treeview/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../img/treeview/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../img/treeview/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../img/treeview/treeview-red.gif); }

.treeview-black li { background-image: url(../img/treeview/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../img/treeview/treeview-black.gif); }

.treeview-gray li { background-image: url(../img/treeview/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../img/treeview/treeview-gray.gif); }

.treeview-famfamfam li { background-image: url(../img/treeview/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../img/treeview/treeview-famfamfam.gif); }


.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../img/treeview/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../img/treeview/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../img/treeview/file.gif) 0 0 no-repeat; }
