.box-content{
    background-color: transparent;
    /*background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);*/
    background-repeat: repeat;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-radius:5px;
    padding:0px;
}

.box-content:hover{
    background-color: #FF0000;
}
.box-content-inside{
    background-color: lightcyan;
    margin: 0 5px 5px 0px;
}
.box-content-inside-new{
    background-color: lightcyan;
    height: 175px;
    margin: 0 5px 5px 0px;
}
.box-content-inside-new img{
    height: 175px;
}
.box-content-inside img{
    width: 70%;
    height:120px;
    margin-bottom: 5px;
}