<ion-view view-title="{{issueName}}">
  <ion-content scroll="false">
    <ion-slides slider="data.slider" options="options">
      <ion-slide-page ng-repeat="page in pages" scroll="true">
        <div ng-bind-html=page.pageContent></div>
      </ion-slide-page>
      <!-- <ion-slide-page scroll="true">
        <div ng-include="'contents/1495058338-30/2.html'"></div>
      </ion-slide-page>
      <ion-slide-page scroll="true">
        <div ng-include="'contents/1495058338-30/3.html'"></div>
      </ion-slide-page>
      <ion-slide-page scroll="true">
        <div ng-include="'contents/1495058338-30/4.html'"></div>
      </ion-slide-page>
      <ion-slide-page scroll="true">
        <div ng-include="'contents/1495058338-30/5.html'"></div>
      </ion-slide-page> -->
    </ion-slides>
  </ion-content>
</ion-view>
