<ion-view view-title="Downloaded">
  <ion-content class="cream_bg">
    <ion-list ng-repeat="maglist in maglists" class="list-magazine">
      <div class="item item-thumbnail-left" ng-show="{{maglist.progress}} == 100">
        <img ng-src="{{maglist.coverPath}}">
        <h2><b>{{maglist.issueName}}</b></h2>
        <p>Release date: {{maglist.releaseDate}}</p>
        <a class="button icon-left ion-ios-bookmarks button-positive no-rad" href="#app/offline/{{maglist.folderName}}/{{maglist.index}}/{{maglist.magazineId}}">Go to Issue</a>
        <p></p>
      </div>
    </ion-list>
  </ion-content>
