<ion-view view-title="{{issueName}}">
  <ion-content class="cream_bg">

    <div class="col-xs-12" style="margin-top:20px;" ng-repeat="maglist in views">
        <center><img style="width:80%; text-align:center" class="img img-responsive cover" ng-src="{{maglist.coverPath}}"></center>
        <center><p ng-if="maglist.progress > 0 && maglist.progress < 100">Downloading...</p></center>
        <progress max="100" value="0" id="{{maglist.folderName}}"></progress>
        <hr style="width:80%">
      <center>
      <a ng-if="maglist.progress === 100" class="button icon-left ion-ios-bookmarks button-positive no-rad" href="#tab/offline/{{maglist.folderName}}/{{maglist.index}}/{{maglist.magazineId}}">Go to Issue</a>
      <a ng-if="maglist.progress === 0" class="button icon-left ion-ios-bookmarks button-positive no-rad" href="#tab/online/{{maglist.folderName}}/{{maglist.index}}/{{maglist.magazineId}}">Go to Issue</a>
      <button ng-if="maglist.progress === 0" id="btn-{{maglist.folderName}}" class="button icon-left ion-arrow-down-a button-stable no-rad" ng-click="downloadContent(maglist.folderName, maglist.zipFile, maglist.magazineId, maglist.issueName, maglist.index)">Download</button>
      </center>
    </div>

  </ion-content>

</ion-view>
