<ion-view view-title="All Issues">
  <ion-content class="cream_bg">
    <ion-refresher on-refresh="doRefresh()">

    </ion-refresher>

    <div ng-repeat="maglist in maglists">
      <div class="col-xs-6" align="center" style="margin-top:20px;">
        <b>{{maglist.issueName}}</b>
        <p>{{maglist.releaseDate}}</p>

        <div class="cvr">
          <a ng-href="#/tab/maglists-view/{{maglist.index}}">
        <img style="width:80%" class="img img-responsive cover" ng-src="{{maglist.coverPath}}">
          </a>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
