<ion-tabs class="tabs-icon-only">

  <ion-tab icon="icon ion-ios-paper" href="#/tab/maglists">
    <ion-nav-view name="tab-maglists"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="icon ion-android-archive" href="#/tab/maglists-dn">
    <ion-nav-view name="tab-maglists-dn"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="icon ion-android-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="icon ion-information-circled" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

</ion-tabs>
