<ion-view view-title="General">
  <ion-content>
      <ul class="list">
        <li class="item item-toggle">
           Auto Download
           <label class="toggle toggle-positive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Auto Update
           <label class="toggle toggle-positive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </ul>
      <button ng-click="clearCache()" class="button button-full button-assertive">
        Clear Cache and History
      </button>
  </ion-content>
</ion-view>
