body {
	background: transparent url(../images/noise.png) left top repeat;
}

body > .container {
	width: 100%;
	margin: ;
	position: relative;
}

.toggle:hover, .toggle:focus {
	color: #fff;
}

#hidden {
	display: none !important;
}

.actionButtons {
	border-radius: 0px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
	border-top: solid 2px #ddd;
	padding-top: 10px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

body .drop-hover {
	border: 3px dashed #95A5A6;
	height: 150px;
	background: #ECF0F1;
}

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10000;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

#loader > img {
	display: block;
	width: 128px;
	height: 128px;
	margin: 150px auto 0px;
}

@media screen and (min-width: 768px){
.modal-dialog {
    width: 424px;
}

.modal-content{
	width:424px;
}

.body_preview {
	background-image: url('../images/iphone_frame.png');
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 72.5px;
	padding-bottom: 30px;
	height: 600px;
}

.rule_preview {
	height: 438.5px;
	overflow-y: scroll;
	background-color: white;
	margin-left: 52.5px;
	margin-right: 53.5px;
	border-radius: 3px;
}

.rule_preview > .item {
	zoom: 75%;
	padding-bottom: 20px;
}

.rule_preview > o.btn {
	display: none;
}

.rule_preview > .item > .container{
	width:100%;
}

.rule_preview > .item > o{
	display: none;
}

/*.modal-footer{
	padding: 19px 22px 20px;
	margin-top: 0;
	background-color: transparent;
	border-top: none;
	border-radius: 0 0 7px 7px;
	position: absolute;
	top: -7.5px;
	right: 30px;
}*/

#loaderSave {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10000;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

#loaderSave > img {
	display: block;
	width: 128px;
	height: 128px;
	margin: 150px auto 0px;
}
body .btn-warning {
	background-color: #F39C12;
}

body .btn-warning:hover {
	background-color: #F4A62A;
}

body .fileinput .fileinput-preview {
	cursor: default !important;
}

body .btn-file > input[type="file"] {
	position: absolute !important;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

/* header */

/* header */
header {
	margin:0;
	padding:10px 15px;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	position: fixed;
	top:60px;
	left:300px;
	right:0;
	z-index: 999!important;
}

header.affix {
	left: 0;
    padding-left: 50px;
	padding-right: 2.3%;
    width: 100%;
    z-index: 100;
    padding-right: 2.4%%;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.bottom-line{
	background: #222;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 38px;
	z-index: 999;
}

.modes {
	position: absolute;
	top: 10px;
	left: 0px;
	right: 0;
	height: 42px;
	width: 320px;
	background: #FFF;
	padding: 0 15px;
}

.modes #modeContent {
	display: none;
}

.modes > b {
	display: block;
	float: left;
	text-transform: uppercase;
	font-size: 13px;
}

.modes > label {
	border-right:1px solid rgba(255,255,255,0.1);
	padding:10px 20px 10px 40px;
}

.modes > label.radio.primary {
	display: inline-block;
	margin-top: 0px !important;
	background-color: #eee;
  border-bottom: 2px #ddd solid;
}

.modes > label {
	margin-right: 10px;
}
.modes > label.disabled{
	opacity: 0.1;
}

.modes > label:last-child {
	margin-right: 0px;
}
.modes > label .icons{
	margin-top: 10px;
  margin-left: 10px;
}
.navbar-setting li a{
	font-size:14px;
	color:#333;
}

/* end header */



/* style editor */

.styleEditor {
	position: fixed;
	left: -300px;
	top: 60px;
	height: 100%;
	width: 300px;
	background: #f9f9f9;
	z-index: 1000;
	padding: 20px;
	overflow-y: auto;
	overflow-x: visible;
}

.styleEditor .tab-content {
	padding: 0px 0px 20px 0px;
	border: 0px;
	border-radius: 0px;
	height: 50%;
	overflow-y: scroll;
}

.styleEditor .nav-tabs li span {
	font-size: 12px;
	color: #34495E;
}

.styleEditor form {
	width: 100%;
	overflow: visible;
	position: relative;
	margin-bottom: 20px;
}

.styleEditor > a.close {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 20px;
	opacity: 100;
}

.styleEditor h3 {
	font-size: 17px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 30px;
}

.styleEditor .control-label {
	line-height: 20px;
	padding-top: 6px;
	font-size: 13px;
	float: left;
	width: 55%;
}

.styleEditor .form-group {
	position: relative;
	margin-bottom: 10px;
	min-height: 40px;
}

.styleEditor .form-group > input {
	float: right;
	width: 42%;
	text-overflow: ellipsis;
}

.styleEditor .form-group > .btn-group.select {
	float: right;
	width: 42%;
}

.styleEditor .form-group > .btn-group.select > .btn {
	width: 100%;
}

.styleEditor .form-group > .btn-group.select .dropdown-menu {
	right: 0px;
	left: auto;
}

.styleEditor .form-group > .sp-replacer {
	float: right;
	width: 42%;
	border: 2px solid #bdc3c7;
	height: 35px;
	background: #fff;
	padding: 6px;
}

.styleEditor .form-group .sp-preview {
	width: 75%;
	border: 0px;
}

body .sp-container {
	border: 2px solid #bdc3c7;
}

body .sp-container .sp-palette-container {
	border-right: 2px solid #bdc3c7;
}

body .sp-container .sp-picker-container {
	border-left: 0px;
}

body .sp-container button, body .sp-container button:hover {
	background-image: none;
	background-color: #1ABC9C;
	color: #fff;
	border-radius: 0px;
	border: 0px;
	font-family: "Lato",​Helvetica,​Arial,​;
	font-weight: normal;
	padding: 0px 12px;
	text-shadow: none;
	line-height: 31px;
	text-transform: uppercase;
}

body .sp-input {
	border-radius: 0px;
	background: #fff;
	border: 1px solid #ccc;
}

.styleEditor .form-group > input.active {
	position: absolute;
	right: 0px;
	width: 100%;
}

.styleEditor div#styleElements {
	margin-bottom: 0px;
}

.styleEditor ul.breadcrumb {
	background: #E1E0E0;
	border-radius: 0px;
	font-size: 14px;
	text-transform: uppercase;
}

.styleEditor .breadcrumb > li:after {
	color: #24bfa0;
}

.styleEditor .breadcrumb .active {
    color: #24bfa0;
    font-weight: bold;
}

.styleEditor .nav-tabs > li > a {
	padding: 7px 15px 8px;
}

.styleEditor .sideButtons {
	margin: 0px 0px 10px;
	width: 100%;
}

.styleEditor .sideButtons > * {
	float: left;
	width: 50%;
}

.styleEditor p.or {
	color: #7F8C8D;
	font-weight: bold;
	font-size: 15px;
	border-bottom: 2px solid #BDC3C7;
	line-height: 0px;
	margin-bottom: 25px;
}

.styleEditor p.or span {
	background: #F9F9F9;
	padding: 0px 10px;
}

.styleEditor .link_Tab .btn-group {
	margin-bottom: 25px;
}

.styleEditor .link_Tab .btn-group, .styleEditor .link_Tab .btn-group button {
	width: 100%;
}

.styleEditor .link_Tab .btn-group .dropdown-menu {
	right: 0px;
	left: auto;
}

.styleEditor .link_Tab input {
	margin-bottom: 20px;
}

.styleEditor ul.nav-tabs li.active a {
	background-color: #f9f9f9;
	border-color: #e1e4e7 #e1e4e7 #f9f9f9;
}

.styleEditor .fileinput .thumbnail {
	border-radius: 0px;
}

.styleEditor .imageFileTab > input {
	margin-bottom: 20px;
}

.styleEditor .imageFileTab > .form-group {
	margin-bottom: 20px;
}

.styleEditor #icons_chosen {
	width: 100% !important;
	margin-bottom: 30px;
}

/* end style editor */

#top-header{
	background:#ededed;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index: 1001;
	font-size: 12px;
}
#top-header .navbar-brand{
	background:#018e72;
	color:#fff;
	margin:0;
	padding:0;
	height: 60px;
	line-height: 60px;
	min-width: 300px;
	text-align: center;
}

#wrapper{
	position: fixed;
	top:60px;
	left:300px;
	bottom:0;
	right: 0;
	background:#e2e6ea;
	width: auto;
	padding:70px 0 0;
	margin:0;
	overflow:auto;
}

.page-panel{
	position: fixed;
	top:60px;
	right:0;
	bottom:0;
	width: 200px;
	z-index: 999;
	background:#3f4044;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.page-panel.active{
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
.page-panel-toggler{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background:#007be8;
	color:#fff!important;
	position: absolute;
	top:70px;
	left:-40px;
}
.page-panel.active .page-panel-toggler .fa{
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.page-panel.active .page-panel-toggler .fa{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.page-panel h3{
	background:#252628;
	color:#fff!important;
	font-size:14px;
	margin:0!important;
	padding:0 15px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	text-align: center;
}
.page-panel ul#pages{
	position: absolute;
	top: 70px;
	bottom: 100px;
	left:0;
	right:0;
	overflow: auto;
	margin:0;
	padding:0;
}
.page-panel ul#pages li{
	background:#fff;
	margin:15px auto;
	width: 100px;
	height: 150px;
	font-size:12px;
	position: relative;
}
.page-panel ul#pages li > a{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.page-panel ul#pages li input{
	width: 100%;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	border:none;
	background:#eee;
	text-align: left;
	height: 30px;
	line-height: 30px;
	padding:0 30px 0 10px;
}
.page-panel .sideButtons{
	position: absolute;
	bottom:37px;
	left:0;
	right:0;
	height: 60px;
	line-height: 60px;
	background:#222;
	text-align: center;
}
.page-panel ul#pages .pageButtons a{
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background:#eee;
	color:#aaa;
}
.page-panel ul#pages .pageButtons .fileEdit{
	position: absolute;
	top:0;
	right:-34px;
	background:#222;
	color:#fff;
}
.page-panel ul#pages .pageButtons .fileDel{
	position: absolute;
	top:30px;
	right:-32px;
	background:red;
	color:#fff;
}
.page-panel ul#pages .pageButtons .fileSave{
	position: absolute!important;
	bottom:0;
	right:0;
	margin:0;
	padding:0;
	left:auto;
	top:auto;
	background:teal;
	color:#fff;
}
#top-header .navbar-nav li a{
	padding:0 15px;
	line-height: 60px;
}
#top-header .navbar-nav > li > a > i{
	font-size:20px;
}
.navbar-issue{
	float: left;
	width: auto;
	padding:10px 15px 0;
}
.navbar-issue i{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	background:#007be8;
	color:#fff;
	float: left;
}
.navbar-issue .title,
.navbar-issue .subtitle{
	margin-left: 50px;
}
.user-dropdown{
	font-size:12px!important;
}
.user-dropdown .dropdown-toggle{
	padding:0 30px;
	display: block;
	height: 60px;
}
.user-dropdown .dropdown-toggle img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	float: left;
	margin:5px 0 0;
}
.user-dropdown .dropdown-toggle span{
	display: block;
	margin-left:60px;
	line-height: 18px!important;
	color:#aaa;
	font-size:12px;
}
.user-dropdown .dropdown-toggle span.name{
	padding-top:10px;
	font-weight: bold;
	color:#222;
}

#responsive-orientation{
	position: fixed;
	bottom:0;
	right:305px;
	color:#fff;
	z-index: 9999;
	line-height: 2;
	height: 37px;
}
#responsive-orientation ul{
	list-style: none;
	margin:0;
	padding:0;
}
#responsive-orientation ul li{
	float: left;
}

#responsive-orientation ul li:hover{
	background-color: #16997f;
	color: #fff;
}

#responsive-orientation ul li#zoomValue:hover{
	background-color:transparent;
}

#responsive-orientation ul li a{
	display: block;
	color:#fff;
	font-size:9px!important;
	padding:10px 15px;
	border-right:1px solid rgba(255,255,255,0.1);
	text-transform: uppercase;
}
#responsive-orientation ul li a img{
	display: inline-block;
	margin:-3px 5px 0 0;
	vertical-align: middle;
}
#responsive-orientation ul li.active a{
	background:#007be8;
	color:#fff;
}

#responsive-toolbar{
	position: fixed;
	bottom:0;
	right:0;
	color:#fff;
	z-index: 9999;
	line-height: 2;
	height: 37px;
}
#responsive-toolbar ul{
	list-style: none;
	margin:0;
	padding:0;
}
#responsive-toolbar ul li{
	float: left;
}

#responsive-toolbar ul li:hover{
	background-color: #16997f;
	color: #fff;
}

#responsive-toolbar ul li#zoomValue:hover{
	background-color:transparent;
}

#responsive-toolbar ul li a{
	display: block;
	color:#fff;
	font-size:9px!important;
	padding:10px 15px;
	border-right:1px solid rgba(255,255,255,0.1);
	text-transform: uppercase;
}
#responsive-toolbar ul li a img{
	display: inline-block;
	margin:-3px 5px 0 0;
	vertical-align: middle;
}
#responsive-toolbar ul li.active a{
	background:#007be8;
	color:#fff;
}

/*Zoom*/
#responsive-zoom{
	position: fixed;
	bottom:0;
	left:300px;
	color:#fff;
	z-index: 9999;
	line-height: 2;
	height: 37px;
}
#responsive-zoom ul{
	list-style: none;
	margin:0;
	padding:0;
}
#responsive-zoom ul li{
	float: left;
}

#responsive-zoom ul li:hover{
	background-color: #16997f;
	color: #fff;
}

#responsive-zoom ul li span.disabled{
	opacity:0.2;
}

#responsive-zoom ul li#zoomValue:hover{
	background-color:transparent;
}

#responsive-zoom ul li a{
	display: block;
	color:#fff;
	font-size:9px!important;
	padding:10px 15px;
	border-right:1px solid rgba(255,255,255,0.1);
	border-left:1px solid rgba(255,255,255,0.1);
	text-transform: uppercase;
}

#responsive-zoom ul li#zoomValue{
	padding: 8px;
	font-weight: bold;
	width: 50px;
	text-align: center;
}

/*#build-mode .radio{
	visibility: hidden;
}*/

/* side */

.menu {
	position: fixed;
	top: 60px;
	left: 0px;
	height: 100%;
	z-index: 1000;
}

.menu .toggle {
	background: #34495E;
	color: #eee;
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	right: -50px;
	top: 0px;
	box-shadow: 5px 0px 0px rgba(0,0,0,0.1);
}

.menu .main {
	background: #d5d9dd;
    height: 100% !important;
    overflow-y: auto;
    width: 80px;
    height: 100%;
    float: left;
}

.menu .main h3 {
	font-size: 17px;
	color: #333;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0px 20px 10px;
	letter-spacing: 1px;
}

.menu .main h3 > span {
	font-size: 15px;
}

.menu .main > ul {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.menu .main > ul > li {
	list-style: none;
	list-style-type: none;
}

.menu .main > ul > li > a {
	color: #333;
	padding:15px;
	overflow:hidden;
	display: block;
	-webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
	-moz-transition: color 0.5s;
	transition: color 0.5s;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	line-height: 12px;
}
.menu .main > ul > li > a img{
	width: 23px;
	margin:0 auto 10px;
	display: block;
}
.menu .main > ul > li > a.active:before{
	content: "";
	position: absolute;
	top:50%;
	right:0;
	border:10px solid transparent;
	border-right:10px solid #3f4044;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
ul#elements > li.element{
	display: none;
}
ul#elements > li.element.layout{
	display: list-item;
}
.menu .main > ul#elements > li > a:hover {
	background: rgba(0,0,0,0.1);
}

/* ICON MENU */
/*.menu .main > ul > li > a:before{
	content: "";
	width: 23px;
	height: 23px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin:0 auto 5px;
}
.menu .main > ul > li > a#all:before{
	background-image: url(../elements/icon/icon-layout.png);
}
.menu .main > ul > li > a#layout:before{
	background-image: url(../elements/icon/icon-layout.png);
}*/

.main > .sideButtons {
	margin-left: 20px;
	width: 170px;
	margin-bottom: 20px;
}

.main > .sideButtons > * {
	margin: 0px;
	float: left;
	width: 50%;
}

.main > hr {
	border-top: 1px dashed #ECF0F1 !important;
}

.menu .second {
	background: #3f4044;
	width: 220px;
	height: 100%;
	float: left;
	z-index: 1000;
	overflow-y: auto !important;
	position: absolute;
	left:80px;
}

.menu .second .hideSecond {
	display: block;
	font-size: 15px;
	margin-left: 10px;
	margin-top: 5px;
	text-transform: uppercase;
}

.menu .second ul {
	margin: 0px;
	padding: 10px;
}

.menu .second a {
	cursor: s-resize;
	font-size:12px;
	margin: 0px;
	padding: 15px;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #aaa;
}

.menu .second ul li, li.element {
	cursor: move;
	list-style: none;
	list-style-type: none;
	padding: 15px;
	color:#fff;
	font-size:12px;
	width: 100%;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu .second ul li{
	border: 1px #888 dashed;
}

.menu .second ul li, li.element > img {
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
}

li.element {
	padding: 0px;
}

.menu .second ul li iframe {
	border: 0px;
	width: 270px;

}

.menu .second ul li iframe html {
	-ms-zoom: 0.25;
	        -moz-transform: scale(0.25);
	        -moz-transform-origin: 0 0;
	        -o-transform: scale(0.25);
	        -o-transform-origin: 0 0;
	        -webkit-transform: scale(0.25);
	        -webkit-transform-origin: 0 0;
}

.menu .second ul li .zoomer-wrapper a {
	cursor: move;
}

ul#pages {
	margin-bottom: 15px;
}

ul#pages li {
	display: block;
	cursor: pointer;
}

ul#pages li.active {
	border:4px solid #222;
}

ul#pages li input {
}

ul#pages li > a {
	float: left;
}

ul#pages li > span {
	float: right;
	font-weight: normal;
	font-size: 12px;
	margin-right: 20px;
	margin-top: 8px;
	display: none;
}

ul#pages li.active > span {
	display: block;
}

ul#pages li > span a {
	color: #CBD0D3;
	float: right;
	margin-left: 5px;
	transform: color 0.7s;
}

ul#pages li > span a.btn {
	color: #fff;
	position: relative;
	top: -3px;
	display: none;
}

ul#pages li.active.edit > span a.btn {
	display: inline;
}

ul#pages li.active.edit > span .fileDel, ul#pages li.active.edit > span .fileEdit {
	display: none;
}

ul#pages li > span a:hover.fileDel {
	color: #E74C3C;
}

ul#pages li > span a:hover.fileEdit {
	color: #2ECC71;
}

/* end side */


#frame {
	display: block;
	border: 0px;
}

.screen {
	width: 768px;
	margin:30px auto;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

.screen .zoomer-wrapper {
	background: #fff;
}

.screen .start {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 99;
}

.screen .start > span {
	display: block;
	background: #34495E;
	padding: 10px 20px;
	width: 450px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	margin: 170px auto 0px;
}

.screen .toolbar {
	background: #f5f5f5;
	height: 35px;
	padding: 0px 0px 0px 11px;
}

.screen .toolbar .buttons {
	float: left;
	height: 13px;
	margin-top: 11px;
	display: none;
}

.screen .toolbar .title {
	font-size: 14px;
	color: #000;
	text-align: center;
	margin-right: 80px;
	padding-top: 5px;
}

.screen .toolbar .left {
	display: block;
	width: 13px;
	height: 13px;
	float: left;
	border-radius: 13px;
	margin-right: 6px;
}

.screen .toolbar .left.red {
	background: #E74C3C;
}

.screen .toolbar .left.yellow {
	background: #F4A62A;
}

.screen .toolbar .left.green {
	background: #16A085;
}

.screen .frameWrapper {
	background: #fff;
	padding-top: 0px;
	position: relative;
	margin-bottom: 80px;
}


.screen .frameWrapper.empty {
	min-height: 400px;
}

.screen .frameWrapper #pageList ul {
	list-style: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: none;
	height: 100%;
	min-height: 300px;
}

.screen .frameWrapper #pageList ul.active {
	display: block;
}

.screen .frameWrapper #pageList ul li {
	display: block;
	overflow: hidden;
	position: relative;
}

.screen .frameWrapper #pageList ul li .editorButtons {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100;
}

.screen .frameWrapper #pageList ul iframe {
	border: 0px;
	width: 100%;
}

.screen .frameWrapper #pageList ul li .zoomer-cover {
	cursor: move;
	overflow: hidden !important;
}

.screen .frameWrapper #pageList ul li .zoomer-small, .screen .frameWrapper #pageList ul li .zoomer-small iframe {
	overflow: hidden !important;
	overflow-y: hidden !important;
}

.screen .frameCover {
	position: absolute;
	top: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.screen .frameCover button.btn-danger, .screen .frameCover button.btn-warning, .screen .frameCover button.btn-inverse {
	border-radius: 0px;
	float: right;
	visibility:hidden;
	opacity:0;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	-webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	-moz-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

.screen .frameCover:hover button.btn-danger, .screen .frameCover:hover button.btn-warning, .screen .frameCover:hover button.btn-inverse {
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

.screen .aceEditor {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



/* modals */

.modal-content {
	border-radius: 0px;
	border: 0px;
}

.modal.small-modal > .modal-dialog, .modal.small-modal .modal-content {
	width: 400px;
}

.modal.small-modal > .modal-dialog {
	margin-top: 140px;
}


/* some flat ui resets */

.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}

.alert {
	border-radius: 0px;
}

/* end modals */
